@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("../imagens/fundo-clima2.jpg") center/cover no-repeat;
    background-attachment: fixed;
    transition: background 0.8s ease-in-out;
}

body.sol {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("../imagens/sol.jpg") center/cover no-repeat;
}

body.nublado {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("../imagens/nublado.jpg") center/cover no-repeat;
}

body.chuva {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("../imagens/chuva.jpg") center/cover no-repeat;
}

body.neve {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("../imagens/neve.jpg") center/cover no-repeat;
}

body.neblina {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("../imagens/neblina.jpg") center/cover no-repeat;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;   
}

#card-clima{
    margin-top: 200px;
    border: 2px solid rgba(255, 255, 255, 0.336);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

#card-clima h1{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.81);
    font-style: italic;
}

.buscar-cidade{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.buscar-cidade #btn-buscar{
    height: 30px;
    width: 35px;
    margin: 18px 0px 0px 3px;
    
    border: none;
    background: transparent;
    color: rgb(255, 255, 255, 0.653);
    cursor: pointer;
    border-radius: 4px;
}

.buscar-cidade #btn-buscar i{
    font-size: 1.5em;
}

#btn-buscar:hover {
    background-color: rgba(255,255,255,0.1);
}

#cidade{
    position: relative;
    margin-top: 20px;
}

#cidade i{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgba(255, 255, 255, 0.653);
}

#cidade input{
    height: 30px;
    padding-left: 31px;
    padding-right: 10px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.4);
    color: white;
    outline: none;
}

#cidade input:focus {
    border-color: white;
}

#cidade input::placeholder{
    color: rgb(255, 255, 255, 0.8);
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
}

section#clima{
    color: rgba(255, 255, 255, 0.81);
    margin: 10px;
}

.clima-info{
    margin-top: 20px;
    padding: 20px;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px 5px;
    background-color: rgba(0, 183, 255, 0.779);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
   from { opacity: 0; transform: translateY(10px); }
   to { opacity: 1; transform: translateY(0); }
}


/* cores por clima */
.clima-sol {
    background-color: rgba(237, 127, 24, 0.792);
}

.clima-nublado {
    background-color: rgba(79, 74, 74, 0.8);
}

.clima-chuva {
    background-color: rgba(0, 183, 255, 0.779);
}

.clima-neve {
    background-color: rgba(230, 240, 255, 0.9);
}

.clima-neblina {
    background-color: rgba(200, 200, 200, 0.8);
}

.cidNome{
    font-size: 1.5em;
    margin-bottom: 10px;
}

.clima-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.clima-principal img{
    width: 80px;
}

.temperatura{
    font-size: 2.5em;
    font-weight: bold;
}

.descricao{
    text-transform: capitalize;
    margin-top: 10px;
    font-style: italic;
}

.detalhes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 15px;
    font-size: .9em;
    opacity: 0.9;
}

footer{
    background-color: rgba(0, 0, 0, 0.596);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

footer > p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin: 0px 0px 0px 0px;
    padding: 2px;
    text-shadow: 3px 3px 3px black;
}

footer > p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer > p > a:hover{
    text-decoration: underline;
}

