@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{

}

main{

}

.buscar-cidade{
    display: flex;
    align-items: center;
}

.buscar-cidade #btn-buscar{
    height: 30px;
    margin-left: 6px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 4px;
}

.buscar-cidade #btn-buscar i{
    font-size: 1.5em;
}

#cidade{
    position: relative;
}

#cidade i{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#cidade input{
    height: 30px;
    padding-left: 31px;
    padding-right: 10px;
    font-size: 14px;
}

